/avatar_classifier/py_server/.idea/inspectionProfiles/profiles_settings.xml
/avatar_classifier/py_server/.idea/inspectionProfiles/Project_Default.xml
/avatar_classifier/py_server/.idea/.gitignore
/avatar_classifier/py_server/.idea/avatar-classifier-py-server.iml
/avatar_classifier/py_server/.idea/misc.xml
/avatar_classifier/py_server/.idea/modules.xml
/avatar_classifier/py_server/.idea/pyProjectModel.xml
/avatar_classifier/py_server/.idea/vcs.xml
